@import "tailwindcss";

@theme {
    --font-code: "JetBrains Mono";
    --font-sans: "Space Grotesk";
    --color-*: initial;
    --color-primary: #66dbb2;
    --color-on-primary: #003829;
    --color-primary-container: #00513c;
    --color-on-primary-container: #83f8cd;
    --color-secondary: #b3ccbf;
    --color-on-secondary: #1e352c;
    --color-secondary-container: #354c42;
    --color-on-secondary-container: #cee9db;
    --color-tertiary: #a7cce0;
    --color-on-tertiary: #0a3445;
    --color-tertiary-container: #264b5c;
    --color-on-tertiary-container: #c2e8fd;
    --color-error: #ffb4ab;
    --color-on-error: #690005;
    --color-error-container: #93000a;
    --color-on-error-container: #ffb4ab;
    --color-background: #191c1a;
    --color-on-background: #e1e3e0;
    --color-surface: #111412;
    --color-on-surface: #e1e3e0;
    --color-surface-variant: #404944;
    --color-on-surface-variant: #bfc9c2;
    --color-outline: #89938d;
    --color-outline-variant: #404944;
    --color-shadow: #000000;
    --color-scrim: #000000;
    --color-inverse-surface: #e1e3e0;
    --color-inverse-on-surface: #2e312f;
    --color-inverse-primary: #006c51;
    --color-surface-dim: #111412;
    --color-surface-bright: #363a38;
    --color-surface-container-lowest: #0c0f0d;
    --color-surface-container-low: #191c1a;
    --color-surface-container: #1d201e;
    --color-surface-container-high: #272b29;
    --color-surface-container-highest: #323633;
}

:root body {
    font-family: var(--font-sans);

    &:not(.light){
        background-color: #131a17;
    }

    &.light {
        --color-primary: #006c51;
        --color-on-primary: #ffffff;
        --color-primary-container: #83f8cd;
        --color-on-primary-container: #002116;
        --color-secondary: #4c6359;
        --color-on-secondary: #ffffff;
        --color-secondary-container: #cee9db;
        --color-on-secondary-container: #082017;
        --color-tertiary: #3f6375;
        --color-on-tertiary: #ffffff;
        --color-tertiary-container: #c2e8fd;
        --color-on-tertiary-container: #001f2b;
        --color-error: #ba1a1a;
        --color-on-error: #ffffff;
        --color-error-container: #ffdad6;
        --color-on-error-container: #410002;
        --color-background: #fbfdf9;
        --color-on-background: #191c1a;
        --color-surface: #f8faf6;
        --color-on-surface: #191c1a;
        --color-surface-variant: #dbe5de;
        --color-on-surface-variant: #404944;
        --color-outline: #707974;
        --color-outline-variant: #bfc9c2;
        --color-shadow: #000000;
        --color-scrim: #000000;
        --color-inverse-surface: #2e312f;
        --color-inverse-on-surface: #eff1ee;
        --color-inverse-primary: #66dbb2;
        --color-surface-dim: #d8dbd7;
        --color-surface-bright: #f8faf6;
        --color-surface-container-lowest: #ffffff;
        --color-surface-container-low: #f2f4f1;
        --color-surface-container: #eceeeb;
        --color-surface-container-high: #e6e9e5;
        --color-surface-container-highest: #e1e3e0;
    }
}